@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

html {
  font-size: 62.5%;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  background-color: #fbf9f4;
}

h1 {
  @apply text-title-xl font-bold;
}

h2 {
  @apply text-title-lg font-bold;
}
h3 {
  @apply text-title-base font-bold;
}

h4 {
  @apply text-[1.8rem] font-bold;
}

span {
  @apply text-base font-normal;
}

@layer components {
  .topHeader {
    @apply fixed z-header box-border flex h-[7vh] w-full items-center justify-between border-b-[1px] bg-Secondary p-Header md:h-[5vh]  md:p-HeaderPc;
  }

  .bottomNav {
    @apply fixed bottom-0 flex h-[7vh] w-full items-center justify-between border-t-[1px] bg-Secondary p-Nav md:px-PageLR md:py-3;
  }

  .textBase {
    @apply text-base font-normal;
  }

  .titleSm {
    @apply text-title-sm font-bold;
  }

  .titleBase {
    @apply text-title-base font-bold;
  }
  .titleLg {
    @apply text-title-lg font-bold;
  }
  .titleXl {
    @apply text-title-xl font-bold;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
}
